@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">TEAM PRAYERS</MudText>
<img src="images/team-prayers.png" alt="Team 5 Logo" style="max-width: 200px; margin-bottom: 20px;" />
<MudText Typo="Typo.h5">Purchasing: Ryan Wlock</MudText>
<MudGrid>
    <MudItem xs="12" sm="10" md="8" lg="6">
        <MudExpansionPanels>
            <MudExpansionPanel Text="Manager: Shop Manager" MaxHeight="150">
                <MudSimpleTable Hover="true" Dense="true">
                    <thead>
                        <tr>
                            <th>UserName/Email</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>FullName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>shop@ebikes.com</td>
                            <td>Shop@123</td>
                            <td>Shop Manager</td>
                            <td>Brendon Brown</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Employee: Store Staff" MaxHeight="500">
                <MudSimpleTable Hover="true" Dense="true">
                    <thead>
                        <tr>
                            <th>UserName/Email</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>FullName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>sales@ebikes.com</td>
                            <td>Sales@123</td>
                            <td>Salesperson</td>
                            <td>Max Smart</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudItem>
</MudGrid>

<br />
<MudText Typo="Typo.h5">Receiving: Yash Cheema</MudText>
<MudGrid>
    <MudItem xs="12" sm="10" md="8" lg="6">
        <MudExpansionPanels>
            <MudExpansionPanel Text="Manager: Shop Manager" MaxHeight="150">
                <MudSimpleTable Hover="true" Dense="true">
                    <thead>
                        <tr>
                            <th>UserName/Email</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>FullName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>shop@ebikes.com</td>
                            <td>Shop@123</td>
                            <td>Shop Manager</td>
                            <td>Brendon Brown</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Employee: Store Staff" MaxHeight="500">
                <MudSimpleTable Hover="true" Dense="true">
                    <thead>
                        <tr>
                            <th>UserName/Email</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>FullName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>sales@ebikes.com</td>
                            <td>Sales@123</td>
                            <td>Salesperson</td>
                            <td>Max Smart</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudItem>
</MudGrid>
<br />
<MudText Typo="Typo.h5">Sales and Returns: Tony</MudText>
<MudGrid>
    <MudItem xs="12" sm="10" md="8" lg="6">
        <MudExpansionPanels>
            <MudExpansionPanel Text="Manager: Shop Manager" MaxHeight="150">
                <MudSimpleTable Hover="true" Dense="true">
                    <thead>
                        <tr>
                            <th>UserName/Email</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>FullName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>shop@ebikes.com</td>
                            <td>Shop@123</td>
                            <td>Shop Manager</td>
                            <td>Brendon Brown</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Employee: Store Staff" MaxHeight="500">
                <MudSimpleTable Hover="true" Dense="true">
                    <thead>
                        <tr>
                            <th>UserName/Email</th>
                            <th>Password</th>
                            <th>Role</th>
                            <th>FullName</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>sales@ebikes.com</td>
                            <td>Sales@123</td>
                            <td>Salesperson</td>
                            <td>Max Smart</td>
                        </tr>
                    </tbody>
                </MudSimpleTable>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudItem>
</MudGrid>


